# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# EAS
.easignore

# Ambiente / segredos — NUNCA suba isso
.env
.env.local
.env.*.local

# Secrets e credenciais
google-services.json

# OS
.DS_Store
Thumbs.db

# Android build
android/
ios/

# Metro bundler cache
.metro-health-check*
